
p.login{
    text-align: right;
}
td.desarrollo{
    padding-left: 50px;
    padding-right: 50px;
}
td.SEO{
    padding-right: 50px;
    padding-left: 50px;
}
td.servicios{
    padding-right: 50px;
    padding-left: 50px;
}
td.empresa{
    padding-right: 50px;
    padding-left: 50px;
}
td.contacto{
    padding-right: 50px;
    padding-left: 50px;
}
table.tabla{
    background-color: blanchedalmond;
    border: 1px black solid;
}
p.t1{
    color: blue;
}
article.student{
    text-align: center;
}
span.box{
    float: right;
}
footer.pie{
    background-color: lightblue;
}
span.mapa{
    
    padding-left: 650px;
}
span.logo{
    float: left;
}